@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Slab:wght@100&display=swap');

*{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: large;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #22698b;
}

header{
    height: 8rem;
}

h1{
    text-align: center;
    font-size: 3rem;
}

main{
    display: flex;
    width: 420px;
    height: 640px;
    background-color: #ffffff73;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.displaySecundario{
    font-size: 20px;
    height: 5rem;
    border-radius: 10px 10px 0px 0px;
    border: none;
    background-color: #00000069;
    color: #ffffff70;
    text-align: end;
}

.displayCalc{
    font-size: 3rem;
    height: 5rem;
    border-radius: 0px 0px 10px 10px;
    border: none;
    margin-bottom: 1rem;
    background-color: #00000069;
    color: black;
    direction: rtl;
}

.contenedorNumeros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.primeraFila{
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.borrarTodo{
    width: 17rem;
    height: 5rem;
    border-radius: 10px;
    border: none;
    background: #ff00006b;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.219);
    backdrop-filter: blur( 4px );
    border: 1px solid rgba(0, 0, 0, 0.267);
    cursor: pointer;
}

.segundaFila, .terceraFila, .cuartaFila, .quintaFila{
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.numeros{
    width: 5.6rem;
    height: 5rem;
    border-radius: 10px;
    border: none;
    background: #ffffff80;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.219);
    backdrop-filter: blur( 4px );
    border: 1px solid rgba(0, 0, 0, 0.267);
    cursor: pointer;
}

.cero{
    width: 11.2rem;
    height: 5rem;
    border-radius: 10px;
    border: none;
    background: #ffffff80;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.219);
    backdrop-filter: blur( 4px );
    border: 1px solid rgba(0, 0, 0, 0.267);
    cursor: pointer;
}

.igual{
    width: 5.6rem;
    height: 5rem;
    border-radius: 10px;
    border: none;
    background: #ffcf9d;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.219);
    backdrop-filter: blur( 4px );
    border: 1px solid rgba(0, 0, 0, 0.267);
    cursor: pointer;
}

@media (max-width: 480px) {
    header{
        height: 6rem;
    }

    main{
        width: 300px;
        height: auto;
    }

    .borrarTodo{
        width: 12rem;
        height: 4rem;
    }

    .numeros{
        width: 4rem;
        height: 4rem;
    }

    .igual{
        width: 8rem;
        height: 4rem;
    }

    .cero{
        height: 4rem;
        width: 4rem;
    }
}